<<<<<<< HEAD
<h1>Welcome to ContentFlow</h1>
=======
<div>
  <h1 class="font-bold text-4xl">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
>>>>>>> 411f9374e8f071e0bcf28d8a0f1614d2a2fbccab
